{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Newest products</h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
            {% for product in products %}
                <div>
                    <a href="{% url 'product:detail' product.id %}">
                        <div>
                            <img src="{{ product.image.url }}" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ product.name }}</h2>
                            <p class="text-gray-500">Price: {{ product.price }}</p>
                        </div>
                    </a>
            {% if request.user.is_authenticated and request.user != product.created_by %}
            <a 
            href="#" 
            class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white hover:bg-teal-700 rounded-xl"
            hx-get="{% url 'cart:add_to_cart' product.id %}"
            hx-target="#menu-cart-button"
            hx-swap="outerHTML"
            >Add to Cart</a>
        {% elif not request.user.is_authenticated %}
            
        {% else %}
            
        {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
<!-- SPLIT here -->
   
    <!-- Split -->
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Categories</h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
            {% for category in categories %}
                <div>
                    <a href="#">
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ category.name }}</h2>
                            <p class="text-gray-500">{{ category.products.count }} products</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}