{% extends 'core/base.html' %}

{% block title %}My Account{% endblock %}

{% block content %}
<div class="w-1/2 my-6 bg-gray-100 rounded-xl">
    <h1 class ="mb-5 text-3xl">My Account</h1>
    <!-- user full name -->
    <div class="mb-4">
        <!-- list name, username, and email from request.user -->
        <strong>Name: </strong><p class="text-xl">{{ request.user.first_name }} {{ request.user.last_name }}</p>
        <strong>Username: </strong><p class="text-xl">{{ request.user.username }}</p>
        <strong>Email: </strong><p class="text-xl mb-6">{{ request.user.email }}</p>
        <a href="{% url 'core:edit_myaccount' %}" class="mt-4 py-4 px-6 rounded-xl text-white bg-purple-500">Edit</a>
        <!-- url path to edit_myaccount -->

    </div>
    <hr>
    <h2 class="my-6 text-xl">My orders</h2>
    <!-- list all orders from request.user -->
    {% for order in request.user.orders.all %}

    <div class="w-full mb-6 p-6 flex flex-wrap bg-gray-100 rounded-xl">
        {% for item in order.items.all %}
        <div class="mb-6 flex justify-between">
            <a href="#">
                <p class="text-xl">Order #</p>
                <p class="text-xl">Date:</p>
                <p class="text-xl">{{ order.status }}</p>
                <p class="text-xl">{{ order.total }}</p>
            </a>
        </div>
    <div class="mb-6 w-full">
        <div class="product mb-6 flex pr-6">
            <a href="#" class="w-1/4">
                <img src="{{item.product.image}}" alt="product_image" class="hover:shadow-lg rounded-xl">
            </a>

            <div class="w-3/4 pl-6">
                <div class="flex justify-between">
                    <a href="#" class="text-lg">Product Name: {{item.product.name}}</a>
                    <p class="mb-6 pt-1 text-gray-400">Price: {{ item.get_total_price }}</p>
                </div>

                <hr>

                <div class="mt-6">
                    Quantity: {{ item.quantity }}
                </div>
            
            </div>
        </div>
        {% endfor %}
        </div>
        <p class="text-lg">Date: {{ order.created_at }}</p>
        <p class="text-lg">Total: $199 </p>
        </div>
{% endfor %}
</div>

{% endblock %}
