{% extends 'core/base.html' %} 

{% block title %}Products{% endblock %}

{% block content %}
    <div class="pb-6 grid grid-cols-4 gap-4 bg-gray-100">
        <div class="col-span-1">
            <form method="get" action="{% url 'product:products' %}">
                <input name="query" class="w-full py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Find a bike, a chair or car...">

                <button class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Search</button>
            </form>
            <hr class="my-6">
            <p class="font-semibold">Categories</p>
            <ul>
                {% for category in categories %}
                <!-- 
                    explain if category.id == category_id # if the category id is equal to the category id
                    then add the class bg-gray-200
                
                -->
                    <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200 {% endif %}">
                        <a href="{% url 'product:products' %}?query={{ query }}&category={{category.id}}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <hr class="my-6">
            <p class="font-semibold">Clear Filters</p>

            <ul>
                <li><a href="{% url 'product:products'%}" class="mt-2 py-4 px-8 inline-block rounded-xl bg-yellow-500 text-white">Clear</a></li>
            </ul>

        </div>
        <div class="col-span-3">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-3">

                {% for product in products %}
                    <div>
                        <a href="{% url 'product:detail' product.id %}">
                            {% for photo in product.photo_set.all %}
                                <div>
                                    <img src="{{ photo.url }}" class="rounded-t-xl">
                                </div>
                            {% endfor %} 
    
                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl">{{ product.name }}</h2>
                                <p class="text-gray-500">Price: {{ product.price }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>


{% endblock %}
