<div class="product mb-6 flex pr-6" id="cart-item-{{ item.product.id }}">
    <img class="hover:shadow-lg rounded-xl h-48 w-48 object-cover flex-shrink-0" src="{{ item.product.image.url }}" alt="{{ product.name }}">

    <div class="w-3/4 pl-6">
        <div class="flex justify-between">
            <a href="#" class="text-lg">{{ item.product.name }}</a>
            <span class="mb-6 pt-1 text-gray-600">${{ item.total_price }}</span>

        </div>
        <hr>
        <div class="quantity mt-6 flex items-center space-x-4">
        <a 
            href="#"
            class="p-3 bg-gray-100"
            hx-get="{% url 'cart:update_cart' item.product.id 'decrement'  %}"
            hx-target="#cart-item-{{ item.product.id }}"
            hx-swap="outerHTML"
            >
            -
        </a>
            <span 
            class="text-lg" 
            id ="cart-item-{{item.product.id}}"
            hx-trigger="update-menu-item from:body"
            hx-swap="innerHTML"
            >{{ item.quantity }} </span>
        <a 
            href="#"
            class="p-3 bg-gray-100"
            hx-get="{% url 'cart:update_cart' item.product.id 'increment' %}"
            hx-target="#cart-item-{{ item.product.id }}"
            hx-swap="outerHTML"
            >
            +
        </a>

        </div>

    </div>
</div>