{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">My products</h2>

        
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-3">

            {% for product in products %}
                <div>
                    <a href="{% url 'product:detail' product.id %}">
                        {% for photo in product.photo_set.all %}
                            <div>
                                <img src="{{ photo.url }}" class="rounded-t-xl">
                            </div>
                        {% endfor %}

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ product.name }}</h2>
                            <p class="text-gray-500">Price: {{ product.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
<!-- SPLIT here -->
   

{% endblock %}